body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("https://media0.giphy.com/media/cM2jGL4t1azcHV83Ba/giphy.gif?cid=ecf05e4735kfftp19d78mdz0t203loms2usr7pxizea3igza&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 0px white;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
   